@tailwind utilities;

:root {
  --primary-color: #007da7;
  --primary-color-faded: #007da710;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  @apply p-0 m-0;
}
input {
  @apply p-2;
  border: 1px solid #ccd;
}

.btn {
  @apply uppercase border-0 rounded-md px-4 py-3 cursor-pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-secondary {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}
